<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments/headtags.html :: headtags"></head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<!-- inner header wrapper start -->
<div class="page_title_section dashboard_title">

    <div class="page_header">
        <div class="container">
            <div class="row">

                <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">

                    <h1>Referral Earnings</h1>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                            <li>Referral Earnings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- inner header wrapper end -->
<div th:replace="~{fragments/dashboardSideBar.html :: dashboardSideBar}"></div>
<!-- Main section Start -->
<div class="l-main">
    <!--  my account wrapper start -->
    <div th:replace="~{fragments/dashboard_account_info.html :: dashboardAccountInfo}"></div>
    <!--  my account wrapper end -->
    <div class="last_transaction_wrapper float_left">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper">

                    <h3>Referral Earnings history</h3>
                </div>
            </div>
            <div class="crm_customer_table_main_wrapper float_left">
                <div class="crm_ct_search_wrapper">
                    <div class="crm_ct_search_bottom_cont_Wrapper">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="myTable table datatables cs-table crm_customer_table_inner_Wrapper">
                        <thead>
                        <tr>
                            <th class="width_table1">transaction ID</th>
                            <th class="width_table1">amount ($)</th>
                            <th class="width_table1">description</th>
                            <th class="width_table1">payment mode</th>
                            <th class="width_table1">date</th>
                            <th class="width_table1">options</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>COMM1004411</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">1000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">03/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>MMNT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>UXINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Direct commission earning for Deposit</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Direct commission earning for Deposit</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Direct commission earning for Deposit</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>AWNT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>OWNT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Deposit made</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>DINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>UINT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Fund Received to Paypal</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Bitcoin</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>YYNT1570066</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">22000.00</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">Referral Commission</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">payza</div>
                            </td>

                            <td class="flag">
                                <div class="pretty p-svg p-curve">20/07/2019</div>
                            </td>
                            <td>
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <!-- Dropdown -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer2.html :: footer2}"></div>
</body>

</html>