<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments/headtags.html :: headtags"></head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<!-- inner header wrapper start -->
<div class="page_title_section dashboard_title">

    <div class="page_header">
        <div class="container">
            <div class="row">

                <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">

                    <h1>Referral </h1>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                            <li> Referral</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- inner header wrapper end -->
<div th:replace="~{fragments/dashboardSideBar.html :: dashboardSideBar}"></div>
<!-- Main section Start -->
<div class="l-main">
    <!--  my account wrapper start -->
    <div th:replace="~{fragments/dashboard_account_info.html :: dashboardAccountInfo}"></div>
    <!--  my account wrapper end -->
    <div class="view_profile_wrapper_top float_left">

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper">

                    <h3>REFERRAL HISTORY</h3>

                </div>
            </div>
            <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="view_profile_wrapper float_left">
                    <ul class="profile_list referal_list">
                        <li><span class="detail_left_part">Active Referrals
</span> <span class="detail_right_part">11
</span>
                        </li>
                        <li><span class="detail_left_part">Inactive Referrals
 </span> <span class="detail_right_part">0
</span>
                        </li>
                        <li><span class="detail_left_part">Total Referral Deposited Amount</span> <span class="detail_right_part">$0.00 USD
</span>
                        </li>
                        <li><span class="detail_left_part">Referral Link</span> <span class="detail_right_part">http://demo.savehyip</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- referrals wrapper end -->
    <!--  transactions wrapper start -->
    <div class="last_transaction_wrapper float_left">

        <div class="row">

            <div class="crm_customer_table_main_wrapper float_left">
                <div class="crm_ct_search_wrapper">
                    <div class="crm_ct_search_bottom_cont_Wrapper">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="myTable table datatables cs-table crm_customer_table_inner_Wrapper">
                        <thead>
                        <tr>
                            <th class="width_table1">level</th>
                            <th class="width_table1">username</th>
                            <th class="width_table1">first name</th>
                            <th class="width_table1">E-mail</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 1</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ajaysuray</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ajay</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">alemujona@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 2</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">akshay </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">akshay handge</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">akshay@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 3</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">farhan shaikh</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">farhan</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">faruua@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 4</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">nachi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">mishara</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">midhrjona@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 6</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">subhi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">kumawat</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">surbhiujona@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 8</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">shruti</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">shruti jaiwal</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">shrutiujona@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 10</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">mini</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">min22</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">mini@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 9</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">sunita amliyar</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">sunita</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">sunitaa@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 12</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">soan</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">mishti</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">sona@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 14</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">nick jones</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">nick</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">nick@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 17</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">priyu</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">menthaan</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">priyu@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 23</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">gggrtghfgn</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">rfgf</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">gffgf@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 32</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">djktrrgn</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">yyyrre</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">gfgf@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 24</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">aamp</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">amprt</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ammf@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 23</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravidlin01</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi01@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 11</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">maneku94584</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">maneku</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">maneku1@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 26</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ajay04</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ajay</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ajay041@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 24</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">aamp</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">amprt</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ammf@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 23</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravidlin01</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi01@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 44</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">tytytry555b</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">dfrg</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">gfftr@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 23</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravidlin01</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi01@gmail.com</div>
                            </td>

                        </tr>
                        <tr class="background_white">

                            <td>
                                <div class="media cs-media">

                                    <div class="media-body">
                                        <h5>level 23</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravidlin01</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi</div>
                            </td>
                            <td>
                                <div class="pretty p-svg p-curve">ravi01@gmail.com</div>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!--  transactions wrapper end -->
</div>
<div th:replace="~{fragments/footer2.html :: footer2}"></div>
</body>

</html>