<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">

<body th:fragment="dashboardSideBar">
<div class="l-sidebar">
    <div class="l-sidebar__content">
        <nav class="c-menu js-menu" id="mynavi">
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="/dashboard"><i class="flaticon-four-grid-layout-design-interface-symbol"></i></a>
                        <ul class="crm_hover_menu">
                            <li><a href="/dashboard"><i class="fa fa-circle"></i> my account</a>
                            </li>
                            <li><a href="/dashboard/account/profile"><i class="fa fa-circle"></i> my profile</a>
                            </li>
                            <li><a href="/dashboard/account/email"><i class="fa fa-circle"></i>email notification</a>
                            </li>
                            <li><a href="/dashboard/account/password"><i class="fa fa-circle"></i>change password</a>
                            </li>
                            <li><a href="/dashboard/account/pin"><i class="fa fa-circle"></i>change pin</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="c-menu__item is-active has-sub crm_navi_icon_cont">
                    <a href="/dashboard">
                        <div class="c-menu-item__title"><span>my account</span><i class="no_badge">5</i>
                        </div>
                    </a>
                    <ul>
                        <li><a href="/dashboard"><i class="fa fa-circle"></i> my account</a>
                        </li>
                        <li><a href="/dashboard/account/profile"><i class="fa fa-circle"></i> my profile</a>
                        </li>
                        <li><a href="/dashboard/account/email"><i class="fa fa-circle"></i>email notification</a>
                        </li>
                        <li><a href="/dashboard/account/password"><i class="fa fa-circle"></i>change password</a>
                        </li>
                        <li><a href="/dashboard/account/pin"><i class="fa fa-circle"></i>change pin</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="/dashboard/finance/"><i class="flaticon-movie-tickets"></i></a>
                        <ul class="crm_hover_menu">
                            <li>
                                <a href="/dashboard/finance/deposit"> <i class="fa fa-circle"></i>make deposit</a>
                            </li>
                            <li>
                                <a href="/dashboard/finance/lists"> <i class="fa fa-circle"></i> deposit lists</a>
                            </li>
                            <li>
                                <a href="/dashboard/finance/requests"> <i class="fa fa-circle"></i> payment request</a>
                            </li>
                            <li>
                                <a href="/dashboard/finance/exchange"> <i class="fa fa-circle"></i>exchange money</a>
                            </li>
                            <li>
                                <a href="/dashboard/transfer"> <i class="fa fa-circle"></i>fund transfer</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="c-menu__item is-active has-sub crm_navi_icon_cont">
                    <a href="/dashboard/finance/">
                        <div class="c-menu-item__title"><span>finance</span><i class="no_badge">5</i>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a href="/dashboard/finance/deposit"> <i class="fa fa-circle"></i>make deposit</a>
                        </li>
                        <li>
                            <a href="/dashboard/finance/lists"> <i class="fa fa-circle"></i> deposit lists</a>
                        </li>
                        <li>
                            <a href="/dashboard/finance/requests"> <i class="fa fa-circle"></i> payment request</a>
                        </li>
                        <li>
                            <a href="/dashboard/finance/exchange"> <i class="fa fa-circle"></i>exchange money</a>
                        </li>
                        <li>
                            <a href="/dashboard/transfer"> <i class="fa fa-circle"></i>fund transfer</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="/dashboard/transfer"><i class="flaticon-progress-report"></i></a>
                    </div>
                </li>
                <li class="c-menu__item crm_navi_icon_cont">
                    <a href="/dashboard/transfer">
                        <div class="c-menu-item__title">fund transfer</div>
                    </a>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="/dashboard/reports/transactions"><i class="flaticon-help"></i></a>
                        <ul class="crm_hover_menu">
                            <li><a href="/dashboard/reports/transactions"><i class="fa fa-circle"></i> all transactions</a>
                            </li>
                            <li><a href="/dashboard/reports/deposit"><i class="fa fa-circle"></i>deposit history</a>
                            </li>
                            <li><a href="/dashboard/reports/pending"><i class="fa fa-circle"></i>pending history</a>
                            </li>
                            <li><a href="/dashboard/reports/exchange"><i class="fa fa-circle"></i>exchange history</a>
                            </li>
                            <li><a href="/dashboard/reports/earning"><i class="fa fa-circle"></i>earning history</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="c-menu__item is-active has-sub crm_navi_icon_cont">
                    <a href="/dashboard/reports/transactions">
                        <div class="c-menu-item__title"><span>reports</span><i class="no_badge purple">5</i>
                        </div>
                    </a>
                    <ul>
                        <li><a href="/dashboard/reports/transactions"><i class="fa fa-circle"></i> all transactions</a>
                        </li>
                        <li><a href="/dashboard/reports/deposit"><i class="fa fa-circle"></i>deposit history</a>
                        </li>
                        <li><a href="/dashboard/reports/pending"><i class="fa fa-circle"></i>pending history</a>
                        </li>
                        <li><a href="/dashboard/reports/exchange"><i class="fa fa-circle"></i>exchange history</a>
                        </li>
                        <li><a href="/dashboard/reports/earning"><i class="fa fa-circle"></i>earning history</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="tickets.html"><i class="flaticon-file"></i></a>
                    </div>
                </li>
                <li class="c-menu__item crm_navi_icon_cont">
                    <a href="tickets.html">
                        <div class="c-menu-item__title">view tickets</div>
                    </a>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="referrals.html"><i class="flaticon-settings"></i></a>
                        <ul class="crm_hover_menu">
                            <li><a href="referrals.html"><i class="fa fa-circle"></i> my referrals </a>
                            </li>
                            <li>
                                <a href="banners.html"> <i class="fa fa-circle"></i>promotionals banners</a>
                            </li>
                            <li>
                                <a href="referral_earnings.html"> <i class="fa fa-circle"></i>referral earnings</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="c-menu__item is-active has-sub crm_navi_icon_cont">
                    <a href="#">
                        <div class="c-menu-item__title"><span>referrals</span><i class="no_badge purple">2</i>
                        </div>
                    </a>
                    <ul>
                        <li><a href="referrals.html"><i class="fa fa-circle"></i> my referrals </a>
                        </li>
                        <li>
                            <a href="banners.html"> <i class="fa fa-circle"></i>promotionals banners</a>
                        </li>
                        <li>
                            <a href="referral_earnings.html"> <i class="fa fa-circle"></i>referral earnings</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="u-list crm_drop_second_ul">
                <li class="crm_navi_icon">
                    <div class="c-menu__item__inner"><a href="make_deposit.html"><i class="flaticon-profile"></i></a>
                    </div>
                </li>
                <li class="c-menu__item crm_navi_icon_cont">
                    <a href="make_deposit.html">
                        <div class="c-menu-item__title">deposit</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>