<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<div th:replace="fragments/headtags.html :: headtags"></div>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<!-- inner header wrapper start -->
<div class="page_title_section">

    <div class="page_header">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-9 col-12 col-sm-8">

                    <h1>FAQ </h1>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                            <li>FAQ </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!-- FAQ wrapper start -->
<div class="inner_faq_wrapper fixed_portion float_left">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
                    <h4>FAQ section</h4>
                    <h3>Frequently Asked Questions</h3>

                </div>
            </div>
        </div>
        <div id="accordion" role="tablist" class="inner_faq_section">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">

                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingOne">
                            <h5 class="h5-md">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    How can i get help by inbound marketing?
                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingTwo">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    What about loan programs?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingThree">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    Our Happy Clients
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="heading4">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse41" role="button" aria-expanded="false" aria-controls="collapse41">
                                    Get Training From Experts
                                </a>
                            </h5>
                        </div>

                        <div id="collapse41" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="heading7">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseT" role="button" aria-expanded="false" aria-controls="collapseT">
                                    User Guide: Getting Started
                                </a>
                            </h5>
                        </div>

                        <div id="collapseT" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-12">

                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingeight">
                            <h5 class="h5-md">
                                <a data-toggle="collapse" href="#collapseeight" role="button" aria-expanded="true" aria-controls="collapseeight">

                                    What about loan programs?

                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapseeight" class="collapse" role="tabpanel" aria-labelledby="headingeight" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingthe">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapsethe" role="button" aria-expanded="false" aria-controls="collapsethe">

                                    User Guide: Getting Started

                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapsethe" class="collapse" role="tabpanel" aria-labelledby="headingthe" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingthey">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapsethey" role="button" aria-expanded="false" aria-controls="collapsenine">

                                    Pixel perfect and responsive

                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapsethey" class="collapse" role="tabpanel" aria-labelledby="headingthey" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingnine">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapsenine" role="button" aria-expanded="false" aria-controls="collapsenine">

                                    Imagination Is The Beginning

                                </a>
                            </h5>
                        </div>

                        <div id="collapsenine" class="collapse" role="tabpanel" aria-labelledby="headingnine" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingTen">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTen" role="button" aria-expanded="false" aria-controls="collapseTen">

                                    Clean and Unique

                                </a>
                            </h5>
                        </div>

                        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingele">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseele" role="button" aria-expanded="false" aria-controls="collapseele">

                                    Deeply Customisable Theme

                                </a>
                            </h5>
                        </div>

                        <div id="collapseele" class="collapse" role="tabpanel" aria-labelledby="headingele" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingtwe">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapsetew" role="button" aria-expanded="false" aria-controls="collapsetew">

                                    How do I use the features ?

                                </a>
                            </h5>
                        </div>

                        <div id="collapsetew" class="collapse" role="tabpanel" aria-labelledby="headingtwe" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQ wrapper end -->
<!-- answer wrapper start -->
<div class="contact_section float_left">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
                    <h4>answers</h4>
                    <h3>Did not find the answer?</h3>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-pos">
                                        <div class="form-group i-name">

                                            <input type="text" class="form-control require" name="full_name" required="" id="namTen-first" placeholder="Name*">

                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-e">
                                        <div class="form-group i-email">
                                            <label class="sr-only">Email </label>
                                            <input type="email" class="form-control require" name="email" required="" id="emailTen" placeholder=" Email*" data-valid="email" data-error="Email should be valid.">

                                        </div>
                                    </div>
                                </div>

                                <!-- /.col-md-12 -->
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-s">
                                        <div class="form-group i-subject">

                                            <input type="text" class="form-control" name="subject" required="" id="subjectTen" placeholder="Question*">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <div class="form-m">
                                        <div class="form-group i-message">

                                            <textarea class="form-control require" name="message" required="" rows="4" id="messageTen" placeholder="Message"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <div class="tb_es_btn_div">
                                        <div class="response"></div>
                                        <div class="tb_es_btn_wrapper conatct_btn2">
                                            <button type="button" class="submitForm">send message !</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- answer wrapper end -->
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>